<p class="text-info">
    <img ng-src="img/products/{{product.id}}.jpg" alt="{{product.name}}"/>
    {{product.name}}: {{product.description}}<br />
</p>
<div>
    <div>
        <div>
            <table>
                <tr>
                    <td>
                        <a href="default.htm#/cart" title="go to shopping cart" ng-disabled="cart.getTotalCount() < 1">
                            <i />
                            <b>{{cart.getTotalCount()}}</b> items, <b>{{cart.getTotalPrice() | currency}}</b>
                            <span ng-show="cart.getTotalCount(product.id) > 0"><br />This item added to cart</span>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td ><b>Warrenty</b></td>
                    <td ><h2>{{product.cal}}</h2></td>
                    <td />
                </tr>
            </table>
        </div>

        <div>
            <button   class="btn btn-block btn-success" 
                ng-click="cart.addItem(product.id, product.name, product.price, 1)">
                <i/> Add to cart
            </button>
            <button                 class="btn btn-block btn-danger" 
                ng-click="cart.addItem(product.id, product.name, product.price, -10000)"
                ng-disabled="cart.getTotalCount(product.id) < 1">
                <i/> Remove from cart
            </button>
            <button class="btn btn-block" 
                onclick="window.location.href=''">
                <i/> Continue shopping
            </button>
        </div>
    </div>
</div>

