<section>
    <div >
        <div  ng-form="loginForm">
            <div  ng-form="nameForm">
                <label  for="username">Username:</label>
                <div >
                    <input type="text"  id="username" placeholder="enter username" name="username" ng-model="user.name" required>
                </div>
            </div>
            <div  ng-form="pwdForm">
                <label  for="pwd">Password:</label>
                <div >
                    <input type="password"  id="pwd" placeholder="Enter password" name="pwd" ng-model="user.pwd" required>
                </div>
            </div>
            <div >
                <div >
                    <div >
                        <label>
                          
                    </div>
                </div>
            </div>
            <div>
                <div >
                    <button  ng-click="login(user,remember)">login</button>
                </div>
            </div>
        </div>
    </div>
</section>