
<section>
    <div>

        <table id="table">
            <thead>
                <tr>
                    <th>Roll no.</th>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Email</th>
                    <th>Gender</th>
                    <th>Date</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody id="tabledata" ng-controller="deleteCtrl">
                <tr ng-repeat="student in list track by $index">
                    <td>{{student.rollNo}}</td>
                    <td>{{student.name}}</td>
                    <td>{{student.age}}</td>
                    <td>{{student.email}}</td>
                    <td>{{student.isMale | gender}}</td>
                    <td>{{student.date|date}}</td>
                    <td>
                        <input type="button" 
                            ng-click="gotoEdit(student.rollNo)"  value="Edit" >
                    </td>
                    <td>
                        <input type="button"
                            ng-click="deleteStudent(student.rollNo)" value="Delete">
                    
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>