<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

<body>

<div ng-app="myApp" ng-controller="myCtrl">

    Add Comment: <input type="text" ng-model="name">
    <input type="button" value="Add"  ng-click="showComment()">
    <h1 ng-repeat="x in test">{{x}}</h1>
</div>

<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope) {
    $scope.test = [];
    $scope.showComment = function() {   
        console.log($scope.name);  
       $scope.test.push($scope.name);
       

    }
});
</script> 

</body>
</html>
