<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

    <script src="demo1.js"></script>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.0/css/bootstrap-combined.min.css" rel="stylesheet">
</head>

<body ng-app="studentdata" ng-controller="main">
    <div id="wrap">


        <div class="container">
            <div class="page-header">
                <h1>Student Details</h1>
            </div>
            <ul ng-repeat="student in students">
                <li>
                    <span ng-hide="editing" ng-click="editing = true">
                            {{student.fname}} | {{student.lname}}
                        
                            
                    </span>
                    <form ng-show="editing" ng-submit="editing = false">
                        <label>First Name:</label>
                        <input type="text" ng-model="student.fname" placeholder=" First Name" ng-required/>
                        <label>Last Name:</label>
                        <input type="text" ng-model="student.lname" placeholder="Last Name" ng-required/>
                        <label>Roll Number:</label>
                        <input type="text" ng-model="student.rollno" placeholder="Roll Number" ng-required/>
                        <label>CGPA:</label>
                        <input type="text" ng-model="student.cgpa" placeholder="CGPA" ng-required/>
                        
                        <label>Male</label>
                        <input ng-value="'male'" type="radio" id="male" ng-model="student.gender" name="gender">
                        
                        <label>Female</label>
                        <input ng-value="'female'" type="radio" ng-model="student.gender" id="female" name="gender">

                        <br/>
                        <button class="btn" type="submit">Save</button>
                        <button class="btn" type="button" ng-click="remove(student)">Delete</button>
                    </form>
                </li>

            </ul>

            <form ng-show="visible" ng-submit="newStudent()">
                <label>First Name:</label>
                <input type="text" ng-model="fname" placeholder="First Name" ng-required/>
                <label>Last Name:</label>
                <input type="text" ng-model="lname" placeholder="Last Name" ng-required/>

                <label>Roll Number:</label>
                <input type="text" ng-model="rollno" placeholder="Roll Number" ng-required/>

                <label>CGPA:</label>
                <input type="text" ng-model="cgpa" placeholder="CGPA" ng-required/>
                <label>Male</label>
                <input ng-value="'male'" type="radio" id="male" ng-model="gender" name="gender">
                
                <label>Female</label>
                <input ng-value="'female'" type="radio" ng-model="gender" id="female" name="gender">
        
                <br/>
                <button class="btn" type="submit">Save</button>
            </form>
        </div>

        <div id="push"></div>
    </div>

    <div id="footer">
        <div class="container">
            <a class="btn" ng-click="visible = true">
                <i class="icon-plus"></i>Add</a>
        </div>
    </div>
</body>