  <?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">

<display-name>StudentServletApp</display-name>
<welcome-file-list>
<welcome-file>user.jsp</welcome-file>
</welcome-file-list>
  
  <servlet-mapping>
    <servlet-name>StudentController</servlet-name>
    <url-pattern>/StudentController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditController</display-name>
    <servlet-name>EditController</servlet-name>
    <servlet-class>com.techlabs.controller.EditController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditController</servlet-name>
    <url-pattern>/EditController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddController</display-name>
    <servlet-name>AddController</servlet-name>
    <servlet-class>com.techlabs.controller.AddController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddController</servlet-name>
    <url-pattern>/AddController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteController</display-name>
    <servlet-name>DeleteController</servlet-name>
    <servlet-class>com.techlabs.controller.DeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteController</servlet-name>
    <url-pattern>/DeleteController</url-pattern>
  </servlet-mapping>
</web-app>