<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/Student_appWithFilter/views/style.css">
</head>
<body>
<h1 align="center">Student College App</h1>
<div>
	<nav>
		<ul>
			<li><a href="/Student_appWithFilter/showstudent">Display All Students</a></li>
			<li><a href="/Student_appWithFilter/showallcollege">Display All Colleges</a></li>
		</ul>
	</nav>
</div>
<div id="form">
<form action="/Student_AppWithFilter/login" method="post">
	<div>
		<label>Username</label>
		<input name="username" type="text"/>
	</div>
	<div>
		<label>Password</label>
		<input name="password" type="password"/>
	</div>
	<input type="submit" value="Login">
</form>
</div>

</body>
</html>